name: Generate Guides & Sitemap

on:
  workflow_dispatch: {}

permissions:
  contents: write

jobs:
  disabled:
    runs-on: ubuntu-latest
    steps:
      - name: Disabled
        run: echo "Guide and sitemap auto generation is disabled."
